.glowButton {
    border: none;
    color: white;
    text-align: center;
    font-family: ethnocentric, sans-serif;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 1em 1.5em;
    outline: none;
    transition: background-color 0.2s, box-shadow 0.2s;
    border-radius: 999px;
}


.glowButton:hover {
    filter: brightness(1.15);
    box-shadow: 0 0 9px currentColor;
}

.glowButton:active {
    filter: brightness(0.85);
    box-shadow: 0 0 4px currentColor;
}


/* Your CSS styles for small mobile devices (portrait) */
@media (min-width: 320px) and (max-width: 480px) {
    .glowButton {
        font-size: 0.55rem;
    }
}

/* Your CSS styles for medium mobile devices (portrait) and small mobile devices (landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    .glowButton {
        font-size: 0.65rem;
    }
}

/* Your CSS styles for large mobile devices (portrait) and tablets (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
    .glowButton {
        font-size: 0.9rem;
    }
}

/* Your CSS styles for tablets (landscape) and small desktop screens */
@media (min-width: 1025px) and (max-width: 1280px) {
    .glowButton {
        font-size: 1.2rem;
    }
}

/* Your CSS styles for medium desktop screens */
@media (min-width: 1281px) and (max-width: 1440px) {
    .glowButton {
        font-size: 1.5rem;
    }
}

/* Your CSS styles for large desktop screens */
@media (min-width: 1441px) {}

