.glowButton {
    border: none;
    color: white;
    text-align: center;
    font-family: ethnocentric, sans-serif;
    cursor: pointer;
    font-size: 0.7rem;
    padding: 1em 1.5em;
    outline: none;
    transition: background-color 0.2s, box-shadow 0.2s;
    border-radius: 999px;
}


.glowButton:hover {
    filter: brightness(1.15);
    box-shadow: 0 0 9px currentColor;
}

.glowButton:active {
    filter: brightness(0.85);
    box-shadow: 0 0 4px currentColor;
}

/* Portrait devices */
@media (max-width: 479px) and (orientation: portrait) {
    .glowButton {
        font-size: 1.75rem;
    }
}

/* Your CSS styles for medium mobile devices (portrait) and small mobile devices (landscape) */
@media (max-width: 768px) and (orientation: portrait) {
    .glowButton {
        font-size: 1.75rem;
    }
}


/* Your CSS styles for medium mobile devices (portrait) and small mobile devices (landscape) */
@media (max-width: 992px) and (orientation: portrait) {
    .glowButton {
        font-size: 1.75rem;
    }
}


