.breakLines {
  white-space: pre-line;
}

.backgroundImage {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url('/landing_background_1.svg');
  background-size: cover;
  background-position: center;
}

.roundedBox {
  width: 100%;
  max-width: 700px;
  min-height: 35vh;
  margin: 10%;
  background-color: rgba(21, 39, 71, 0.95);
  border-radius: 50px;
  display: flex;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 2rem;
}

.heading {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  font-family: kallisto, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.subheading {
  color: #fff;
  font-size: 1.75rem;
  text-align: center;
  font-family: omnium-wide, sans-serif;
  /* Add any other styles you want for the subheading */
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px; /* Adjust the gap between the buttons */
}

.quoteBlock {
  position: relative;
  display: flex;
  height: 15vh;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0B0F2E;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: visible;
}

.logo {
  height: 170%;
  object-fit: contain;
  margin-left: 7vh;
}

.quote {
  font-size: 4vh;
  color: #971D91;
  text-align: center; /* Center align the text within itself */
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 9vh; /* Set a left margin for the quote */
}

.quoteWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}



/* ... existing media queries ... */

/* Update media query to handle stacking behavior */
@media (max-width: 1000px) {
  .quoteWrapper {
    flex-direction: column;
    gap: 30px;
  }

  .logo {
    margin-left: 0;
  }

  .quote {
    margin-left: 0;
  }
}

