.breakLines {
  white-space: pre-line;
}

.backgroundImage {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url('/landing_background_1.svg');
  background-size: cover;
  background-position: center;
}

.roundedBox {
  width: 100%;
  max-width: 700px;
  min-height: 35vh;
  margin: 10%;
  background-color: rgba(21, 39, 71, 0.95);
  border-radius: 50px;
  display: flex;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 2rem;
}

.heading {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  font-family: kallisto, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.subheading {
  color: #fff;
  font-size: 1.75rem;
  text-align: center;
  font-family: omnium-wide, sans-serif;
  /* Add any other styles you want for the subheading */
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px; /* Adjust the gap between the buttons */
}

.quoteBlock {
  position: relative;
  display: flex;
  height: 15vh;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0B0F2E;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
  height: 25vh;
  position: relative; /* Set the position property to absolute */
  top: 50%; /* Position the logo at the middle of the quoteBlock */
  transform: translateY(-50%); /* Shift the logo upwards by half of its height */
  object-fit: contain;
  margin-left: 7vh;
}



.quote {
  max-height: 80%;
  font-size: 2vh; /* Adjust the base font-size */
  color: #971D91;
  text-align: center; /* Center align the text within itself */
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 3vh; /* Set a left margin for the quote */
}

/* ... existing media queries ... */

/* Update media query to handle stacking behavior */
@media (max-width: 1000px) {
  .quoteBlock {
    justify-content: center;
  }

  .logo {
    margin-left: 0;
    margin-bottom: 1vh;
  }

  .quote {
    margin-top: 1vh;
    margin-left: 0;
    width: 80%; /* Set the width for the quote to center align relative to the page */
    margin-right: auto;
    margin-left: auto;
  }
}

