.breakLines {
  white-space: pre-line;
}

.backgroundSection {
  position: relative;
  width: 100%;
  padding: 10%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
}

.roundedBox {
  min-height: 35%;
  width: 80vw;
  background-color: rgba(21, 39, 71, 0.95);
  border-radius: 50px;
  display: flex;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 2rem;
}

.heading {
  color: #fff;
  font-size: 1.4rem; /* Adjust the heading font size */
  text-align: center;
  font-family: kallisto, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.subheading {
  color: #B5B5B5;
  font-size: 1rem; /* Adjust the subheading font size */
  text-align: center;
  font-family: omnium-wide, sans-serif;
  /* Add any other styles you want for the subheading */
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Adjust the gap between the buttons */
}

.quoteBlock {
  position: relative;
  display: flex;
  height: 15vh;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0B0F2E;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: visible;
}

.logo {
  height: 170%;
  object-fit: contain;
  margin-left: 4vw;
}

.quote {
  font-size: 4vh;
  color: #971D91;
  text-align: center; /* Center align the text within itself */
  font-family: ethnocentric, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 5vw; /* Set a left margin for the quote */
}

.quoteWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  z-index: 1;
}

/* Your CSS styles for medium mobile devices (portrait) and small mobile devices (landscape) */
@media (min-width: 480px) and (max-width: 767px) {
  .roundedBox {
    max-width: 400px;
  }
  .heading {
    font-size: 1.5rem; /* Adjust the heading font size */
  }
  .subheading {
    font-size: 1rem; /* Adjust the subheading font size */
  }
  .buttonGroup {
    gap: 40px; /* Adjust the gap between the buttons */
  }
  .backgroundSection {
    height: 350px;
  }
}

/* Your CSS styles for large mobile devices (portrait) and tablets (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  .roundedBox {
    max-width: 400px;
  }
  .heading {
    font-size: 1.5rem; /* Adjust the heading font size */
  }
  .subheading {
    font-size: 1.2rem; /* Adjust the subheading font size */
  }
  .buttonGroup {
    gap: 40px; /* Adjust the gap between the buttons */
  }
  .backgroundSection {
    height: 400px;
    /*max-height: 500px;*/
  }
}

/* Your CSS styles for tablets (landscape) and small desktop screens */
@media (min-width: 1025px) and (max-width: 1280px) {
  .roundedBox {
    max-width: 500px;
  }
  .heading {
    font-size: 2rem; /* Adjust the heading font size */
  }
  .subheading {
    font-size: 1.5rem; /* Adjust the subheading font size */
  }
  .buttonGroup {
    gap: 40px; /* Adjust the gap between the buttons */
  }
  .backgroundSection {
    min-height: 450px;
  }
}

/* Your CSS styles for medium desktop screens */
@media (min-width: 1281px) and (max-width: 1440px) {
  .roundedBox {
    max-width: 600px;
  }
  .heading {
    font-size: 2.5rem; /* Adjust the heading font size */
  }
  .subheading {
    font-size: 1.75rem; /* Adjust the subheading font size */
  }
  .buttonGroup {
    gap: 45px; /* Adjust the gap between the buttons */
  }
  .backgroundSection {
    min-height: 750px;
  }
}

/* Your CSS styles for large desktop screens */
@media (min-width: 1441px) {
  .roundedBox {
    max-width: 800px;
  }
  .heading {
    font-size: 3.5rem; /* Adjust the heading font size */
  }
  .subheading {
    font-size: 2.5rem; /* Adjust the subheading font size */
  }
  .buttonGroup {
    gap: 80px; /* Adjust the gap between the buttons */
  }
  .backgroundSection {
    min-height: 1000px;
  }
}
