.breakLines {
  white-space: pre-line;
}

.backgroundImage {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url('/landing_background_1.svg');
  background-size: cover;
  background-position: center;
}

.roundedBox {
  width: 100%;
  max-width: 700px;
  min-height: 35vh;
  margin: 10%;
  background-color: rgba(21, 39, 71, 0.95);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 2rem;
}

.heading {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  font-family: Kallisto Heavy;
  /* Add any other styles you want for the heading */
}

.subheading {
  color: #fff;
  font-size: 1.75rem;
  text-align: center;
  font-family: Omnium;
  color: #B5B5B5;
  /* Add any other styles you want for the subheading */
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; /* Adjust the gap between the buttons */
}

@media (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1.5rem;
  }
}
